<?xml version="1.0"?>
<configuration>
  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  
  <!-- Allow all users to visit RoleBasedAuthorization.aspx -->
  <location path="RoleManagement.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
