<?xml version="1.0"?>
<configuration>
  
  <!-- Allow all users to visit RoleBasedAuthorization.aspx -->
  <location path="New.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="History.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="Preview.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Edit.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
</configuration>
